@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh; 
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  
}

.App-link {
  color: #61dafb;
}

.container{
  justify-content: center;
  margin: auto;
}

.inputArea{
  
  background-color: lightgray;
  padding: 30px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;

}

.inputLabels{
  padding: 10px;
  background-color: lightskyblue;
}

.listItems{
  justify-self: center;
  padding-left:40vw;
  padding-top: 60px;
  color: white;
  margin: auto;
  
}

.buttons {
  margin: 10px;
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
}

.buttons:hover {
  cursor: pointer;
}

li {
  margin: auto;
  text-align: left;
}





